<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>        
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>pl.polsl.rainbow_coding.web</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
<!--    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>pl.polsl.rainbow_coding.web.servlets.LoginServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>pl.polsl.rainbow_coding.web.servlets.LogoutServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/rc_api/*</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>480</session-timeout>
    </session-config>-->
<!--    <security-constraint>
        <display-name>HTTPS bez logowania</display-name>
        <web-resource-collection>
            <web-resource-name>user_services_public</web-resource-name>
            <description>Zasób ogólnodostępny (bez logowania, szyfrowany)</description>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description>wymaga ssl</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->
<!--    <security-constraint>        
        <display-name>HTTPS i logowanie dla wszystkich</display-name>
        <web-resource-collection>
            <web-resource-name>application</web-resource-name>
            <description>Cała aplikacja</description>
            <url-pattern>/rc_api/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>tylko zalogowani</description>
            <role-name>USERS</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description>wymaga ssl</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>RainbowCodingRealm</realm-name>
        <form-login-config>
            <form-login-page>/login</form-login-page>
            <form-error-page>/error.html</form-error-page>
        </form-login-config>
    </login-config>    -->
</web-app>
